<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>AJAX example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/form-handle.js"></script>
</head>
<body>
<div class="container">
    <form id="ajax-form">
        <div class="form-group">
            <label for="email" style="font-weight: bold">Email address</label>
            <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <button type="button" class="btn btn-primary" onclick="sendGreeting()">Отправить</button>
    </form>
    <h3>Почты:</h3>
    <ul id="emailList">
        <li></li>
    </ul>
</div>
</body>
</html>