a:hover {
    outline: none;
    text-decoration: none;
}

a:focus {
    outline: none;
    outline-offset: 0;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.btn:hover,
.btn:focus {
    outline: none;
    box-shadow: none;
}

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.vert-center {
    margin: 270px 0;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-+
|       Header CSS          |
+-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.header-top {
    background: none repeat scroll 0 0 #F0F0E9;
    padding-left: 10px;
    padding-right: 10px;
}

.header-bottom {
    border: 2px solid #F0F0E9;
    padding-top: 10px;
}

/* Menu */

ul.menu {
    list-style: none;
    height: 36px;
    overflow: hidden;
    padding: 0;
}

.menu li.item-right {
    float: right;
    margin-right: 10px;
}

.menu li.item-left {
    float: left;
    margin-left: 10px;
}

/* Cards */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #F0F0E9;
    border-radius: .25rem;
    margin-top: 1em;
}

.card-header {
    padding: .75rem 1.25rem;
    background-color: #F0F0E9;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-header h2 {
    text-align: center;
}

.table td {
    font-size: 18px;
}

img.stretch {
    min-height: 200px;
    width: 75%;
    margin: 10px auto;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.error-panel {
    padding: 4px auto;
    color: red;
    font-weight: bold;
    margin: 30px 0;
}